@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: sans-serif;
  font-size: 18px;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #d53a3a, #ff00b3);
  background: linear-gradient(to right, #e94e68, #b1022e);
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(2),
section:nth-child(1) {
  width: 500px;
  height: 600px;
  text-align: center;
  padding: 4.5rem 0 2.5rem;
  opacity: 0.6;
  background-color: rgba(255, 255, 255, 0.281);
  transition: all 0.25s;
  position: relative;
}
section.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
section.right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.player.active {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.86);
}
.name {
  font-weight: 600;
  font-size: 2.2rem;
  color: rgb(53, 52, 52);
  margin-top: 1rem;
}
.score {
  color: rgb(53, 52, 52);
  font-size: 4.5rem;
  padding: 1.2rem 0;
  font-weight: 600;
  color: #b1022ead;
}
.current {
  background-color: #d80b3eb4;
  color: whitesmoke;
  width: 170px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 1rem 0 0.8rem 0;
  margin-top: 4rem;
}
.current > h3:nth-child(1) {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(233, 229, 229);
}
.current > h3:nth-child(2) {
  font-size: 1.7rem;
  margin: 0.3rem 0;
  margin-bottom: 0;
  color: rgb(233, 229, 229);
}
.btn {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  padding: 12px 30px;
  position: absolute;
  border: none;
  cursor: pointer;
  transition: all 0.25s;
  color: rgb(85, 85, 85);
  font-weight: 500;
}
.btn.disable {
  opacity: 0.2;
  color: black;
  background-color: rgba(0, 0, 0, 0.521);
  cursor: not-allowed;
}
.newGame {
  margin-top: -430px;
}
.rollDice {
  margin-bottom: -250px;
}
.hold {
  margin-bottom: -380px;
}
.newGame:active {
  margin-top: -440px;
}
.rollDice:active {
  margin-bottom: -240px;
}
.hold:active {
  margin-bottom: -370px;
}
.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  margin-top: -60px;
  border-radius: 6px;
}
.countClick {
  width: 300px;
  height: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.around {
  height: 10px;
  width: 10px;
  background-color: #b8050ea6;
  border-radius: 50%;
  margin: 0 2px;
}
.notification.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
.notification {
  opacity: 0;
  transform: scale(0);
  position: fixed;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(197, 31, 31, 0.205);
  backdrop-filter: blur(1.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification.active .noti_content {
  transform: scale(1);
}
.notification .noti_content {
  transform: scale(0);
  padding: 2.8rem 5rem 3rem 5rem;
  background-color: rgb(250, 238, 238);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  transition: all 0.45s;
}
.notification .noti_content h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.notification .noti_content p {
  text-align: center;
  font-weight: 600;
  margin-top: 1rem;
  font-style: italic;
  color: rgb(41, 41, 41);
}
.notification .noti_content .scoreWin {
  font-weight: 600;
  font-size: 4rem;
  color: #b1022e;
  font-family: "Pacifico", cursive;
  text-align: center;
  margin-top: -1rem;
}
.closeTab {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  margin-right: 1.2rem;
  cursor: pointer;
  padding: 3px;
  transition: all 0.25s;
  border-radius: 3px;
}
.closeTab:hover {
  background-color: #b1022e49;
}
